@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 25% 96%;
    --foreground: 222 84% 5%;
    --card: 210 40% 100%;
    --card-foreground: 222 84% 5%;
    --popover: 210 40% 100%;
    --popover-foreground: 222 84% 5%;
    --primary: 223 100% 58%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 92%;
    --secondary-foreground: 222 47.4% 11.2%;
    --muted: 210 40% 92%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 47 100% 70%;
    --accent-foreground: 48 96% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 223 100% 58%;
    --radius: 0.5rem;

    --sidebar-background: 210 30% 98%;
    --sidebar-foreground: 222 84% 5%;
    --sidebar-primary: 223 100% 58%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 210 25% 90%;
    --sidebar-accent-foreground: 222 84% 5%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 223 100% 58%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 47 100% 70%;
    --accent-foreground: 48 96% 23%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 210 40% 98%;

    --sidebar-background: 222 40% 13%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222.2 47.4% 11.2%;
    --sidebar-accent: 217.2 32.6% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
